.App {
  text-align: center;
}

.kit-image {
  max-width: 200px; 
  max-height: 150px; 
  
}
body{
  background-color: blanchedalmond;
}
h2{
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:black;
  color: aliceblue;
  padding: 10px;
}

.logo {
  width: 100px; 
  height: auto;
}

.card{
  width: 100px;
}